<div id="header" class="header">
    <div class="logo">
        <img src="/media/assets/header/logo.svg" />
    </div>
    <div class="settings-notify">
        <div class="settings-notify-img">
            <img class="notify-img" src="/media/assets/header/notification.svg" />
            <img class="settings-img" src="/media/assets/header/settings.svg" />

        </div>
    </div>
    <div class="header-content">
        <p class="page_name" id="page_name"></p>
        <div class="bread-crum-div" id="dm-bread-crum"></div>
        <div class="dm-add-button-div"></div>
    </div>
    <!-- sd -->
</div>