{% extends 'base/base.html' %}
{% load static %}
{% block styles %}

{% endblock %}
{% block content %}
<!-- <button type="button" class="btn btn-sm btn-primary float-end m-5" data-toggle="modal" id="btn-trigger"
    onclick="">
     -->
<!-- </button> -->
<div class="" id="forget-password-modal" ></div>
{% csrf_token %}
<div class="messages"></div>

<input id='Email'  placeholder="email" type="email"  class="input form-control">
<div class="modal-footer">
    <button type="submit" class="btn btn-primary" onclick=forgetpassword()  id="forgotbutton">Send</button>
</div>
<div class="forgetpassword-container">
</div>
<script src="{% static 'script/accounts/forgetpassword.js' %}"></script>

{% endblock %}