{% extends 'base/base.html' %}
{% load static %}
{% block styles %}

{% endblock %}
{% block content %}
<h1 hidden id="uid"> {{ uid }}</h1>
<h1 hidden id="token"> {{ token }}</h1>
<div class="" id="reset-password-model" ></div>
{% csrf_token %}
<div class="messages"></div>

<input id="new_password" placeholder="Newpassword" type="text" class="input form-control">
<input id="confirm_password" placeholder="ConfirmPassword" type="text" class="input form-control" onchange=check_password()>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary" onclick=forgetpassword() id="password_button">Submit</button>
</div>
<script src="{% static 'script/accounts/resetpassword.js' %}"></script>

{% endblock %}